<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/style.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <title>Google Book Search </title>
  <div>
    <% data.forEach(value => {%>
  <article>
    <img src="<%= value.imageLinks%>" alt="<%value.title %>">
    <h1><%= value.title %></h1>
    <h2><%= value.authors %></h2>
    <p><%= value.description %></p>
  </article>
  <% }) %>
</div>

  <!-- <form action="/new.ejs" method="POST">
      <div class="form-example">
        <label for="title">Title </label>
        <input type="radio" name="name" id="name" required>
      </div>
      <div class="form-example">
        <label for="radio">Author</label>
        <input type="author" name="email" id="email" required>
      </div>
      <div class="form-example">
        <input type="submit" value="Subscribe!">
      </div> -->
  </form>
</body>
</html>